{
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "insertPragma": false,
    "printWidth": 160,
    "proseWrap": "preserve",
    "quoteProps": "preserve",
    "requirePragma": false,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.prettierrc"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
