export const environment = {
    production: true,
    useEmulators: false,
    firebase: {
        projectId: '',
        appId: '',
        databaseURL: '',
        storageBucket: '',
        apiKey: '',
        authDomain: '',
        messagingSenderId: '',
        measurementId: '',
    }
};
