<mat-sidenav-container [hasBackdrop]="!uiStore.isPinned()"
                       class="h-screen">
    <!-- Navigation Drawer for large screens -->
    <mat-sidenav #drawer
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async) && uiStore.isPinned()"
                 class="[&>div]:flex [&>div]:flex-col">
        <mat-toolbar>Book of Chords</mat-toolbar>


        <mat-nav-list class="flex flex-col flex-grow">
            @for (item of navItems; track $index) {
            <a mat-list-item
               [routerLink]="item.route"
               routerLinkActive="active">
                <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                <span matListItemTitle>{{item.label}}</span>
            </a>
            }

        </mat-nav-list>

        <mat-nav-list>
            <!-- Maybe User button instead with settings and logout -->
            <a mat-list-item
               (click)="userStore.logout()">
                <mat-icon matListItemIcon>logout</mat-icon>
                <span matListItemTitle>Logout</span>
            </a>
            <a mat-list-item
                (click)="uiStore.toggleDarkMode()">
                <mat-icon matListItemIcon>{{ uiStore.darkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
                <span matListItemTitle>{{ uiStore.darkMode() ? 'Light Mode' : 'Dark Mode' }}</span>
            </a>
            <a mat-list-item
               (click)="uiStore.togglePinned()">
                <mat-icon matListItemIcon>push_pin</mat-icon>
                <span matListItemTitle>{{ uiStore.isPinned() ? 'Unpin Sidebar' : 'Pin Sidebar' }}</span>
            </a>
        </mat-nav-list>


    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Top App Bar -->
        @if (!(isHandset$ | async) && !drawer.opened) {
        <mat-toolbar class="!bg-surface-container">
            <button mat-icon-button
                    (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <!-- Todo add top app bar -->
        </mat-toolbar>
        }

        <!-- Main Content -->
        <div class="pt-4">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <router-outlet></router-outlet>
        </div>

        <!-- Bottom Navigation for mobile -->
        @if (isHandset$ | async) {
        <mat-toolbar class="fixed bottom-0 left-0 right-0">
            <nav class="flex justify-around w-full">
                @for (item of navItems; track $index) {
                <div class="flex flex-col items-center">
                    <button mat-icon-button
                            [routerLink]="item.route"
                            routerLinkActive="active">
                        <mat-icon>{{item.icon}}</mat-icon>
                    </button>
                    <span class="inline-block -mt-2 text-xs">{{item.label}}</span>
                </div>
                }
            </nav>
        </mat-toolbar>
        }
    </mat-sidenav-content>
</mat-sidenav-container>
